development:
  oim:
    url: t3://iam2.agoracon.at:14000/
    user: xelsysadm
    password: mypasswd

test:
  oim:
    url: t3://dwptoim1:14000/
    user: xelsysadm
    password: mypasswd

production:
  oim:
    url: t3://dwppoim1:14000/
    user: xelsysadm
    password: mypasswd
